.guess {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &__heading {
    margin: 0;
    color: rgb(33, 186, 33);
    &--wrong{
      color: red;
    }
  }

  &__colorway {}

  &__year {}
}