.lose {
  border: 2px solid black;
  padding: 1rem 1.5rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;

  &__subheading {
    padding: .5rem;
  }

  &__answer {
    padding: 1rem;
  }

  &__description {
    padding-bottom: 1rem;
  }
}